.welcome_block {
    text-align: center;
    background-color: #209CEE;
    padding: 8em 100px 8em 100px;
}

p.proj_desc {
    color: rgba(255, 255, 255, 0.4);
}

.step1_block, .step2_block {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.step3_block, .step4_block {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.submission_loading {
    margin-bottom: 200px;
    text-align: center;
}

.search_bar {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.black_list_words {
    padding-left: 20px;
    padding-right: 20px;
}

.unmatched_words {
    color: red;
    padding-left: 20px;
    font-size: 15px;
}

.proceed_to_step3, .proceed_to_step4 {
    padding-left: 20px;
}

.to_step3_btn, .to_step4_btn {
    margin-top: 10px;
}

.to_be_removed_header {
    padding-left: 20px;
    margin-bottom: 5px;
}

.query_list_tbs {
    padding-left: 20px;
    padding-right: 30px;
}

h1.title {
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h4 {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.submission_block {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -100px;
}

p.submitted {
    color: black;
    font-size: 18px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.query_list_tbs[data-dash-is-loading="true"] {
    visibility: hidden;
}

.query_list_tbs[data-dash-is-loading="true"]::before {
    content: "Loading...";
    display: inline-block;
    color: #119DFF;
    visibility: visible;
}

.submission_loading[data-dash-is-loading="true"] {
    visibility: hidden;
}

.submission_loading[data-dash-is-loading="true"]::before {
    content: "Please wait the file is being uploaded...";
    display: inline-block;
    color: #119DFF;
    visibility: visible;
}