.welcome_block {
    text-align: center;
    background-color: #209CEE;
    padding: 8em 100px 8em 100px;
}

p.proj_desc {
    color: rgba(255, 255, 255, 0.4);
}

.step1_block, .step2_block {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.step3_block, .step4_block {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.submission_loading {
    margin-bottom: 200px;
    text-align: center;
}

.search_bar {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.black_list_words {
    padding-left: 20px;
    padding-right: 20px;
}

.unmatched_words {
    color: red;
    padding-left: 20px;
    font-size: 15px;
}

.proceed_to_step3, .proceed_to_step4 {
    padding-left: 20px;
}

.to_step3_btn, .to_step4_btn {
    margin-top: 10px;
}

.to_be_removed_header {
    padding-left: 20px;
    margin-bottom: 5px;
}

.query_list_tbs {
    padding-left: 20px;
    padding-right: 30px;
}

h1.title {
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h4 {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.submission_block {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -100px;
}

p.submitted {
    color: black;
    font-size: 18px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.tltip {
    width: 15px;
    height: 15px;
    display: inline;
}

/*img.tooltip {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/

.query_list_tbs[data-dash-is-loading="true"] {
    visibility: hidden;
}

.query_list_tbs[data-dash-is-loading="true"]::before {
    content: "Loading...";
    display: inline-block;
    color: #119DFF;
    visibility: visible;
}

.submission_loading[data-dash-is-loading="true"] {
    visibility: hidden;
}

.submission_loading[data-dash-is-loading="true"]::before {
    content: "Please wait the file is being uploaded...";
    display: inline-block;
    color: #119DFF;
    visibility: visible;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    opacity: 0;
}


.tooltip.show {
    opacity: 0.9;
}

.tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
}

.tooltip .arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}

.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
    padding: 0.4rem 0;
}

.bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
    bottom: 0;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #000;
}

.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
    padding: 0 0.4rem;
}

.bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    right: 0;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #000;
}

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
    padding: 0.4rem 0;
}

.bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
    top: 0;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    bottom: 0;
    border-width: 0 0.4rem 0.4rem;
    border-bottom-color: #000;
}

.bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
    padding: 0 0.4rem;
}

.bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    left: 0;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: #000;
}

.tooltip-inner {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 0.25rem;
}